button {
  cursor: pointer;
}
[data-atoms="app"] section button {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background-color: #ebebeb;
  color: #999;
}
[data-atoms="app"] section button > abbr {
  font-weight: 300;
}
[data-atoms="app"] section button:not([disabled]) {
  -webkit-box-shadow: 0em -0.185rem 0em rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0em -0.185rem 0em rgba(0,0,0,0.1) inset;
  -ms-box-shadow: 0em -0.185rem 0em rgba(0,0,0,0.1) inset;
  -o-box-shadow: 0em -0.185rem 0em rgba(0,0,0,0.1) inset;
  box-shadow: 0em -0.185rem 0em rgba(0,0,0,0.1) inset;
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  -moz-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  -ms-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  -o-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}
[data-atoms="app"] section button:not([disabled]):hover {
  background-color: #bcbcbc;
  color: #fff;
}
[data-atoms="app"] section button:not([disabled]):active {
  background-color: #8d8d8d;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1) inset;
  -ms-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1) inset;
  -o-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1) inset;
}
[data-atoms="app"] section button:not([disabled]).accept {
  background-color: #2ecc71;
}
[data-atoms="app"] section button:not([disabled]).accept:hover {
  background-color: #25a35a;
}
[data-atoms="app"] section button:not([disabled]).accept:active {
  background-color: #208f4f;
}
[data-atoms="app"] section button:not([disabled]).cancel {
  background-color: #e74c3c;
}
[data-atoms="app"] section button:not([disabled]).cancel:hover {
  background-color: #dc2d1b;
}
[data-atoms="app"] section button:not([disabled]).cancel:active {
  background-color: #b52516;
}
[data-atoms="app"] section button:not([disabled]).warning {
  background-color: #edba22;
}
[data-atoms="app"] section button:not([disabled]).warning:hover {
  background-color: #d5a411;
}
[data-atoms="app"] section button:not([disabled]).warning:active {
  background-color: #af870e;
}
[data-atoms="app"] section button:not([disabled]).accept,
[data-atoms="app"] section button:not([disabled]).cancel,
[data-atoms="app"] section button:not([disabled]).warning {
  color: #fff;
}
[data-atoms="app"] section button[disabled] > abbr,
[data-atoms="app"] section button[disabled] .icon {
  opacity: 0.35;
}

[data-atoms="app"] input[type="text"],
[data-atoms="app"] input[type="password"],
[data-atoms="app"] input[type="date"],
[data-atoms="app"] input[type="datetime"],
[data-atoms="app"] input[type="email"],
[data-atoms="app"] input[type="number"],
[data-atoms="app"] input[type="search"],
[data-atoms="app"] input[type="tel"],
[data-atoms="app"] input[type="time"],
[data-atoms="app"] input[type="url"],
[data-atoms="app"] select,
[data-atoms="app"] textarea,
[data-atoms="app"] label.select {
  font-family: "Helvetica Neue", "Helvetica", Arial;
  background-color: #fff;
  border: 1px solid #cecece;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
  color: #2f2f2f;
  -webkit-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -ms-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -o-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
}
[data-atoms="app"] input[type="text"].error,
[data-atoms="app"] input[type="password"].error,
[data-atoms="app"] input[type="date"].error,
[data-atoms="app"] input[type="datetime"].error,
[data-atoms="app"] input[type="email"].error,
[data-atoms="app"] input[type="number"].error,
[data-atoms="app"] input[type="search"].error,
[data-atoms="app"] input[type="tel"].error,
[data-atoms="app"] input[type="time"].error,
[data-atoms="app"] input[type="url"].error,
[data-atoms="app"] select.error,
[data-atoms="app"] textarea.error,
[data-atoms="app"] label.select.error,
[data-atoms="app"] input[type="text"].required,
[data-atoms="app"] input[type="password"].required,
[data-atoms="app"] input[type="date"].required,
[data-atoms="app"] input[type="datetime"].required,
[data-atoms="app"] input[type="email"].required,
[data-atoms="app"] input[type="number"].required,
[data-atoms="app"] input[type="search"].required,
[data-atoms="app"] input[type="tel"].required,
[data-atoms="app"] input[type="time"].required,
[data-atoms="app"] input[type="url"].required,
[data-atoms="app"] select.required,
[data-atoms="app"] textarea.required,
[data-atoms="app"] label.select.required {
  color: #e5402f;
  background-color: #fdf2f0;
  border-color: #ec7063;
}
[data-atoms="app"] input[type="text"].error::-webkit-input-placeholder,
[data-atoms="app"] input[type="password"].error::-webkit-input-placeholder,
[data-atoms="app"] input[type="date"].error::-webkit-input-placeholder,
[data-atoms="app"] input[type="datetime"].error::-webkit-input-placeholder,
[data-atoms="app"] input[type="email"].error::-webkit-input-placeholder,
[data-atoms="app"] input[type="number"].error::-webkit-input-placeholder,
[data-atoms="app"] input[type="search"].error::-webkit-input-placeholder,
[data-atoms="app"] input[type="tel"].error::-webkit-input-placeholder,
[data-atoms="app"] input[type="time"].error::-webkit-input-placeholder,
[data-atoms="app"] input[type="url"].error::-webkit-input-placeholder,
[data-atoms="app"] select.error::-webkit-input-placeholder,
[data-atoms="app"] textarea.error::-webkit-input-placeholder,
[data-atoms="app"] label.select.error::-webkit-input-placeholder,
[data-atoms="app"] input[type="text"].required::-webkit-input-placeholder,
[data-atoms="app"] input[type="password"].required::-webkit-input-placeholder,
[data-atoms="app"] input[type="date"].required::-webkit-input-placeholder,
[data-atoms="app"] input[type="datetime"].required::-webkit-input-placeholder,
[data-atoms="app"] input[type="email"].required::-webkit-input-placeholder,
[data-atoms="app"] input[type="number"].required::-webkit-input-placeholder,
[data-atoms="app"] input[type="search"].required::-webkit-input-placeholder,
[data-atoms="app"] input[type="tel"].required::-webkit-input-placeholder,
[data-atoms="app"] input[type="time"].required::-webkit-input-placeholder,
[data-atoms="app"] input[type="url"].required::-webkit-input-placeholder,
[data-atoms="app"] select.required::-webkit-input-placeholder,
[data-atoms="app"] textarea.required::-webkit-input-placeholder,
[data-atoms="app"] label.select.required::-webkit-input-placeholder {
  color: #f1948a;
}
[data-atoms="app"] input[type="text"].error::-moz-placeholder,
[data-atoms="app"] input[type="password"].error::-moz-placeholder,
[data-atoms="app"] input[type="date"].error::-moz-placeholder,
[data-atoms="app"] input[type="datetime"].error::-moz-placeholder,
[data-atoms="app"] input[type="email"].error::-moz-placeholder,
[data-atoms="app"] input[type="number"].error::-moz-placeholder,
[data-atoms="app"] input[type="search"].error::-moz-placeholder,
[data-atoms="app"] input[type="tel"].error::-moz-placeholder,
[data-atoms="app"] input[type="time"].error::-moz-placeholder,
[data-atoms="app"] input[type="url"].error::-moz-placeholder,
[data-atoms="app"] select.error::-moz-placeholder,
[data-atoms="app"] textarea.error::-moz-placeholder,
[data-atoms="app"] label.select.error::-moz-placeholder,
[data-atoms="app"] input[type="text"].required::-moz-placeholder,
[data-atoms="app"] input[type="password"].required::-moz-placeholder,
[data-atoms="app"] input[type="date"].required::-moz-placeholder,
[data-atoms="app"] input[type="datetime"].required::-moz-placeholder,
[data-atoms="app"] input[type="email"].required::-moz-placeholder,
[data-atoms="app"] input[type="number"].required::-moz-placeholder,
[data-atoms="app"] input[type="search"].required::-moz-placeholder,
[data-atoms="app"] input[type="tel"].required::-moz-placeholder,
[data-atoms="app"] input[type="time"].required::-moz-placeholder,
[data-atoms="app"] input[type="url"].required::-moz-placeholder,
[data-atoms="app"] select.required::-moz-placeholder,
[data-atoms="app"] textarea.required::-moz-placeholder,
[data-atoms="app"] label.select.required::-moz-placeholder {
  color: #f1948a;
}
[data-atoms="app"] input[type="text"].error:-ms-input-placeholder,
[data-atoms="app"] input[type="password"].error:-ms-input-placeholder,
[data-atoms="app"] input[type="date"].error:-ms-input-placeholder,
[data-atoms="app"] input[type="datetime"].error:-ms-input-placeholder,
[data-atoms="app"] input[type="email"].error:-ms-input-placeholder,
[data-atoms="app"] input[type="number"].error:-ms-input-placeholder,
[data-atoms="app"] input[type="search"].error:-ms-input-placeholder,
[data-atoms="app"] input[type="tel"].error:-ms-input-placeholder,
[data-atoms="app"] input[type="time"].error:-ms-input-placeholder,
[data-atoms="app"] input[type="url"].error:-ms-input-placeholder,
[data-atoms="app"] select.error:-ms-input-placeholder,
[data-atoms="app"] textarea.error:-ms-input-placeholder,
[data-atoms="app"] label.select.error:-ms-input-placeholder,
[data-atoms="app"] input[type="text"].required:-ms-input-placeholder,
[data-atoms="app"] input[type="password"].required:-ms-input-placeholder,
[data-atoms="app"] input[type="date"].required:-ms-input-placeholder,
[data-atoms="app"] input[type="datetime"].required:-ms-input-placeholder,
[data-atoms="app"] input[type="email"].required:-ms-input-placeholder,
[data-atoms="app"] input[type="number"].required:-ms-input-placeholder,
[data-atoms="app"] input[type="search"].required:-ms-input-placeholder,
[data-atoms="app"] input[type="tel"].required:-ms-input-placeholder,
[data-atoms="app"] input[type="time"].required:-ms-input-placeholder,
[data-atoms="app"] input[type="url"].required:-ms-input-placeholder,
[data-atoms="app"] select.required:-ms-input-placeholder,
[data-atoms="app"] textarea.required:-ms-input-placeholder,
[data-atoms="app"] label.select.required:-ms-input-placeholder {
  color: #f1948a;
}
[data-atoms="app"] input[type="text"]::-webkit-input-placeholder,
[data-atoms="app"] input[type="password"]::-webkit-input-placeholder,
[data-atoms="app"] input[type="date"]::-webkit-input-placeholder,
[data-atoms="app"] input[type="datetime"]::-webkit-input-placeholder,
[data-atoms="app"] input[type="email"]::-webkit-input-placeholder,
[data-atoms="app"] input[type="number"]::-webkit-input-placeholder,
[data-atoms="app"] input[type="search"]::-webkit-input-placeholder,
[data-atoms="app"] input[type="tel"]::-webkit-input-placeholder,
[data-atoms="app"] input[type="time"]::-webkit-input-placeholder,
[data-atoms="app"] input[type="url"]::-webkit-input-placeholder,
[data-atoms="app"] select::-webkit-input-placeholder,
[data-atoms="app"] textarea::-webkit-input-placeholder,
[data-atoms="app"] label.select::-webkit-input-placeholder {
  color: #cecece;
}
[data-atoms="app"] input[type="text"]::-moz-placeholder,
[data-atoms="app"] input[type="password"]::-moz-placeholder,
[data-atoms="app"] input[type="date"]::-moz-placeholder,
[data-atoms="app"] input[type="datetime"]::-moz-placeholder,
[data-atoms="app"] input[type="email"]::-moz-placeholder,
[data-atoms="app"] input[type="number"]::-moz-placeholder,
[data-atoms="app"] input[type="search"]::-moz-placeholder,
[data-atoms="app"] input[type="tel"]::-moz-placeholder,
[data-atoms="app"] input[type="time"]::-moz-placeholder,
[data-atoms="app"] input[type="url"]::-moz-placeholder,
[data-atoms="app"] select::-moz-placeholder,
[data-atoms="app"] textarea::-moz-placeholder,
[data-atoms="app"] label.select::-moz-placeholder {
  color: #cecece;
}
[data-atoms="app"] input[type="text"]::-ms-input-placeholder,
[data-atoms="app"] input[type="password"]::-ms-input-placeholder,
[data-atoms="app"] input[type="date"]::-ms-input-placeholder,
[data-atoms="app"] input[type="datetime"]::-ms-input-placeholder,
[data-atoms="app"] input[type="email"]::-ms-input-placeholder,
[data-atoms="app"] input[type="number"]::-ms-input-placeholder,
[data-atoms="app"] input[type="search"]::-ms-input-placeholder,
[data-atoms="app"] input[type="tel"]::-ms-input-placeholder,
[data-atoms="app"] input[type="time"]::-ms-input-placeholder,
[data-atoms="app"] input[type="url"]::-ms-input-placeholder,
[data-atoms="app"] select::-ms-input-placeholder,
[data-atoms="app"] textarea::-ms-input-placeholder,
[data-atoms="app"] label.select::-ms-input-placeholder {
  color: #cecece;
}
[data-atoms="app"] input[type=range] {
  background-color: #cecece;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
  border-radius: 0.1rem;
}
[data-atoms="app"] input[type=range]:hover,
[data-atoms="app"] input[type=range]:active {
  background-color: #6441a5 !important;
}
[data-atoms="app"] input[type=range]::-webkit-slider-thumb {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #fdfdfd;
  border: 1px solid #cecece;
}
[data-atoms="app"] input[type=checkbox] {
  border: 1px solid #cecece;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #ddd;
}
[data-atoms="app"] input[type=checkbox]:after {
  background-color: #fdfdfd;
  border: 1px solid #cecece;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}
[data-atoms="app"] input[type=checkbox]:checked {
  border-color: #5a3b95;
  background-color: #6441a5;
}
[data-atoms="app"] input[type=checkbox]:checked:after {
  border-color: SUCCESS;
}

[data-atoms="app"] fieldset label,
[data-atoms="app"] form label {
  color: #484848;
}
[data-atoms="app"] label.tag {
  background: #e8e8e8;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
  color: rgba(0,0,0,0.6);
}

[data-atoms="app"] [data-atom=li] > figure {
  background-color: #dcdcdc;
}
[data-atoms="app"] [data-atom=li] strong {
  font-weight: bold;
}
[data-atoms="app"] article > section [data-atom=li] {
  border-bottom: solid 1px #dcdcdc;
}
[data-atoms="app"] article > section [data-atom=li].anchor {
  color: #7a7a7a;
}
[data-atoms="app"] article > section:not(.padding) [data-atom=li]:not(.anchor) {
  background-color: #fff;
}
[data-atoms="app"] aside > section [data-atom=li] {
  border-bottom: solid 1px #393939;
}
[data-atoms="app"] aside > section [data-atom=li]:not(.anchor) {
  color: #e0e0e0;
}
[data-atoms="app"] aside > section [data-atom=li].anchor {
  color: #878787;
}

[data-atoms="app"] header nav a {
  color: #e7e1f3;
}
[data-atoms="app"] header nav a:hover,
[data-atoms="app"] header nav a:active,
[data-atoms="app"] header nav a.active {
  color: #fff;
}


[data-atoms="app"] > article > header [data-molecule="navigation"] button {
  color: #d7cdeb;
}
[data-atoms="app"] > aside > section [data-molecule="navigation"] [data-atom="link"] {
  font-weight: normal;
}
[data-atoms="app"] > aside > section [data-molecule="navigation"] [data-atom="link"]:not(.active) {
  color: #979797;
}
[data-atoms="app"] > aside > section [data-molecule="navigation"] [data-atom="link"].active {
  color: #fff;
}
[data-atoms="app"] > article > section [data-molecule="navigation"] > [data-atom="button"]:not(:first-child):not(:last-child) {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
[data-atoms="app"] > article > section [data-molecule="navigation"] > [data-atom="button"]:not(:first-child) {
  border-left: solid 1px rgba(0,0,0,0.05);
}
[data-atoms="app"] > article > section [data-molecule="navigation"] > [data-atom="button"]:first-child {
  -webkit-border-radius: 0.2rem 0 0 0.2rem;
  -moz-border-radius: 0.2rem 0 0 0.2rem;
  -ms-border-radius: 0.2rem 0 0 0.2rem;
  -o-border-radius: 0.2rem 0 0 0.2rem;
  border-radius: 0.2rem 0 0 0.2rem;
}
[data-atoms="app"] > article > section [data-molecule="navigation"] > [data-atom="button"]:last-child {
  -webkit-border-radius: 0 0.2rem 0.2rem 0;
  -moz-border-radius: 0 0.2rem 0.2rem 0;
  -ms-border-radius: 0 0.2rem 0.2rem 0;
  -o-border-radius: 0 0.2rem 0.2rem 0;
  border-radius: 0 0.2rem 0.2rem 0;
}
[data-atoms="app"] > article > [data-molecule="navigation"] {
  background-color: #232323;
  background-color: #2f2f2f;
}
[data-atoms="app"] > article > [data-molecule="navigation"] > button.active {
  -webkit-box-shadow: inset 0 -0.25rem #6441a5;
  -moz-box-shadow: inset 0 -0.25rem #6441a5;
  -ms-box-shadow: inset 0 -0.25rem #6441a5;
  -o-box-shadow: inset 0 -0.25rem #6441a5;
  box-shadow: inset 0 -0.25rem #6441a5;
}
[data-atoms="app"] > aside > header [data-molecule="navigation"] button {
  color: #cbcbcb;
}
[data-atoms="app"] > article > header [data-molecule="navigation"] button:hover,
[data-atoms="app"] > article > header [data-molecule="navigation"] button:active,
[data-atoms="app"] > article > header [data-molecule="navigation"] button.active {
  color: #fff !important;
}
[data-atoms="app"] > article > footer [data-molecule="navigation"] button,
[data-atoms="app"] > article > [data-molecule="navigation"] button {
  color: #787878;
}
[data-atoms="app"] > article > footer [data-molecule="navigation"] button:active,
[data-atoms="app"] > article > [data-molecule="navigation"] button:active,
[data-atoms="app"] > article > footer [data-molecule="navigation"] button:hover,
[data-atoms="app"] > article > [data-molecule="navigation"] button:hover,
[data-atoms="app"] > article > footer [data-molecule="navigation"] button.active,
[data-atoms="app"] > article > [data-molecule="navigation"] button.active {
  color: #fff;
}
[data-atoms="app"] > article > footer [data-molecule="navigation"] button {
  -webkit-text-shadow: 0 0.1rem #292929;
  -moz-text-shadow: 0 0.1rem #292929;
  -ms-text-shadow: 0 0.1rem #292929;
  -o-text-shadow: 0 0.1rem #292929;
  text-shadow: 0 0.1rem #292929;
}
[data-atoms="app"] > article > footer [data-molecule="navigation"] button.active {
  background-color: #232323;
}

[data-atoms="app"] [data-molecule="search"] > button {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 0.2rem 0.2rem 0;
  -moz-border-radius: 0 0.2rem 0.2rem 0;
  -ms-border-radius: 0 0.2rem 0.2rem 0;
  -o-border-radius: 0 0.2rem 0.2rem 0;
  border-radius: 0 0.2rem 0.2rem 0;
  background-color: #cecece;
  color: #fff;
}
[data-atoms="app"] [data-molecule="navigation"] > [data-molecule="search"] > input {
  border-color: #fff;
}

[data-atoms="app"] > article {
  position: absolute;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-animation-duration: 450ms;
  -moz-animation-duration: 450ms;
  -ms-animation-duration: 450ms;
  -o-animation-duration: 450ms;
  animation-duration: 450ms;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
[data-atoms="app"] > article.active.aside {
  left: 256px;
}
[data-atoms="app"] > article.active[data-state="in"] {
  z-index: 2;
  -webkit-animation-name: article-in;
  -moz-animation-name: article-in;
  -ms-animation-name: article-in;
  -o-animation-name: article-in;
  animation-name: article-in;
}
[data-atoms="app"] > article.active[data-state="in"]:only-of-type {
  -webkit-animation-duration: 0s;
  -moz-animation-duration: 0s;
  -ms-animation-duration: 0s;
  -o-animation-duration: 0s;
  animation-duration: 0s;
}
[data-atoms="app"] > article.active[data-state="out"] {
  z-index: 2;
  -webkit-animation-name: article-in;
  -moz-animation-name: article-in;
  -ms-animation-name: article-in;
  -o-animation-name: article-in;
  animation-name: article-in;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
[data-atoms="app"] > article.active[data-state="back-in"] {
  z-index: 1;
  -webkit-animation-name: article-out;
  -moz-animation-name: article-out;
  -ms-animation-name: article-out;
  -o-animation-name: article-out;
  animation-name: article-out;
}
[data-atoms="app"] > article.active[data-state="back-out"] {
  z-index: 1;
  -webkit-animation-delay: 1;
  -moz-animation-delay: 1;
  -ms-animation-delay: 1;
  -o-animation-delay: 1;
  animation-delay: 1;
  -webkit-animation-name: article-out;
  -moz-animation-name: article-out;
  -ms-animation-name: article-out;
  -o-animation-name: article-out;
  animation-name: article-out;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
[data-atoms="app"] > article.active[data-state="aside-in"] {
  -webkit-animation-name: article-aside;
  -moz-animation-name: article-aside;
  -ms-animation-name: article-aside;
  -o-animation-name: article-aside;
  animation-name: article-aside;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
[data-atoms="app"] > article.active[data-state="aside-out"] {
  -webkit-animation-name: article-aside;
  -moz-animation-name: article-aside;
  -ms-animation-name: article-aside;
  -o-animation-name: article-aside;
  animation-name: article-aside;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
[data-atoms="app"] > article header {
  background-color: #6441a5;
}
[data-atoms="app"] > article section {
  background-color: #f4f4f4;
}
[data-atoms="app"] > article footer {
  background: #2f2f2f;
}
@-moz-keyframes article-in {
  0% {
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
    transform: translateX(105%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes article-in {
  0% {
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
    transform: translateX(105%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes article-in {
  0% {
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
    transform: translateX(105%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes article-in {
  0% {
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
    transform: translateX(105%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes article-in {
  0% {
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
    transform: translateX(105%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes article-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-21%);
    -moz-transform: translateX(-21%);
    -ms-transform: translateX(-21%);
    -o-transform: translateX(-21%);
    transform: translateX(-21%);
    opacity: 0.5;
  }
}
@-webkit-keyframes article-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-21%);
    -moz-transform: translateX(-21%);
    -ms-transform: translateX(-21%);
    -o-transform: translateX(-21%);
    transform: translateX(-21%);
    opacity: 0.5;
  }
}
@-o-keyframes article-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-21%);
    -moz-transform: translateX(-21%);
    -ms-transform: translateX(-21%);
    -o-transform: translateX(-21%);
    transform: translateX(-21%);
    opacity: 0.5;
  }
}
@-ms-keyframes article-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-21%);
    -moz-transform: translateX(-21%);
    -ms-transform: translateX(-21%);
    -o-transform: translateX(-21%);
    transform: translateX(-21%);
    opacity: 0.5;
  }
}
@keyframes article-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-21%);
    -moz-transform: translateX(-21%);
    -ms-transform: translateX(-21%);
    -o-transform: translateX(-21%);
    transform: translateX(-21%);
    opacity: 0.5;
  }
}
@-moz-keyframes article-aside {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(256px);
    -moz-transform: translateX(256px);
    -ms-transform: translateX(256px);
    -o-transform: translateX(256px);
    transform: translateX(256px);
  }
}
@-webkit-keyframes article-aside {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(256px);
    -moz-transform: translateX(256px);
    -ms-transform: translateX(256px);
    -o-transform: translateX(256px);
    transform: translateX(256px);
  }
}
@-o-keyframes article-aside {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(256px);
    -moz-transform: translateX(256px);
    -ms-transform: translateX(256px);
    -o-transform: translateX(256px);
    transform: translateX(256px);
  }
}
@-ms-keyframes article-aside {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(256px);
    -moz-transform: translateX(256px);
    -ms-transform: translateX(256px);
    -o-transform: translateX(256px);
    transform: translateX(256px);
  }
}
@keyframes article-aside {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(256px);
    -moz-transform: translateX(256px);
    -ms-transform: translateX(256px);
    -o-transform: translateX(256px);
    transform: translateX(256px);
  }
}

[data-atoms="app"] > aside {
  background: #2f2f2f;
  width: 256px;
  -webkit-animation-duration: 450ms;
  -moz-animation-duration: 450ms;
  -ms-animation-duration: 450ms;
  -o-animation-duration: 450ms;
  animation-duration: 450ms;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
[data-atoms="app"] > aside.active[data-state="in"] {
  z-index: 0;
  -webkit-animation-name: aside-in;
  -moz-animation-name: aside-in;
  -ms-animation-name: aside-in;
  -o-animation-name: aside-in;
  animation-name: aside-in;
}
[data-atoms="app"] > aside.active[data-state="out"] {
  z-index: -1;
  -webkit-animation-name: aside-in;
  -moz-animation-name: aside-in;
  -ms-animation-name: aside-in;
  -o-animation-name: aside-in;
  animation-name: aside-in;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
[data-atoms="app"] > aside header {
  background-color: #2a2a2a;
}
@-moz-keyframes aside-in {
  0% {
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    transform: translateX(-25%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes aside-in {
  0% {
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    transform: translateX(-25%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes aside-in {
  0% {
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    transform: translateX(-25%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes aside-in {
  0% {
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    transform: translateX(-25%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes aside-in {
  0% {
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    transform: translateX(-25%);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


[data-atoms="app"] > article header h1,
[data-atoms="app"] > aside header h1 {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 300 !important;
}

[data-system=modal] {
  visibility: hidden;
}
[data-system=modal].active {
  visibility: visible;
  background-color: rgba(0,0,0,0.5);
}
[data-system=modal].active > [data-organism] {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation-duration: 450ms;
  -moz-animation-duration: 450ms;
  -ms-animation-duration: 450ms;
  -o-animation-duration: 450ms;
  animation-duration: 450ms;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
[data-system=modal].active > [data-organism].show {
  -webkit-animation-name: modal-show;
  -moz-animation-name: modal-show;
  -ms-animation-name: modal-show;
  -o-animation-name: modal-show;
  animation-name: modal-show;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -ms-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
}
[data-system=modal].active > [data-organism].hide {
  -webkit-animation-name: modal-show;
  -moz-animation-name: modal-show;
  -ms-animation-name: modal-show;
  -o-animation-name: modal-show;
  animation-name: modal-show;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
[data-system=modal] > :not([data-organism=loading]) {
  background: #f4f4f4;
}
[data-system=modal] > :not([data-organism=loading]) > header {
  color: #626262;
}
[data-system=modal] > :not([data-organism=loading]) > section {
  color: #929292;
}
[data-system=modal] > :not([data-organism=loading]) > footer {
  background: #f7f7f7;
}
[data-system=modal] > :not([data-organism=loading]) > footer > nav > button:not(:last-child) {
  border-bottom: solid 1px #e8e8e8;
}
[data-system=modal] > [data-organism=loading] {
  background: #181818;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}
[data-system=modal] > [data-organism=loading]::before,
[data-system=modal] > [data-organism=loading]::after {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
[data-system=modal] > [data-organism=loading].show::before {
  -webkit-animation: modal-loading 630ms 0 steps(15) infinite;
  -moz-animation: modal-loading 630ms 0 steps(15) infinite;
  -ms-animation: modal-loading 630ms 0 steps(15) infinite;
  -o-animation: modal-loading 630ms 0 steps(15) infinite;
  animation: modal-loading 630ms 0 steps(15) infinite;
}
[data-system=modal] > [data-organism=loading].show::after {
  -webkit-animation: modal-loading 630ms 315ms steps(15) infinite;
  -moz-animation: modal-loading 630ms 315ms steps(15) infinite;
  -ms-animation: modal-loading 630ms 315ms steps(15) infinite;
  -o-animation: modal-loading 630ms 315ms steps(15) infinite;
  animation: modal-loading 630ms 315ms steps(15) infinite;
}
@-moz-keyframes modal-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500%);
    -moz-transform: translateY(500%);
    -ms-transform: translateY(500%);
    -o-transform: translateY(500%);
    transform: translateY(500%);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-7%);
    -moz-transform: translateY(-7%);
    -ms-transform: translateY(-7%);
    -o-transform: translateY(-7%);
    transform: translateY(-7%);
  }

  80% {
    -webkit-transform: translateY(2%);
    -moz-transform: translateY(2%);
    -ms-transform: translateY(2%);
    -o-transform: translateY(2%);
    transform: translateY(2%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes modal-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500%);
    -moz-transform: translateY(500%);
    -ms-transform: translateY(500%);
    -o-transform: translateY(500%);
    transform: translateY(500%);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-7%);
    -moz-transform: translateY(-7%);
    -ms-transform: translateY(-7%);
    -o-transform: translateY(-7%);
    transform: translateY(-7%);
  }

  80% {
    -webkit-transform: translateY(2%);
    -moz-transform: translateY(2%);
    -ms-transform: translateY(2%);
    -o-transform: translateY(2%);
    transform: translateY(2%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes modal-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500%);
    -moz-transform: translateY(500%);
    -ms-transform: translateY(500%);
    -o-transform: translateY(500%);
    transform: translateY(500%);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-7%);
    -moz-transform: translateY(-7%);
    -ms-transform: translateY(-7%);
    -o-transform: translateY(-7%);
    transform: translateY(-7%);
  }

  80% {
    -webkit-transform: translateY(2%);
    -moz-transform: translateY(2%);
    -ms-transform: translateY(2%);
    -o-transform: translateY(2%);
    transform: translateY(2%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes modal-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500%);
    -moz-transform: translateY(500%);
    -ms-transform: translateY(500%);
    -o-transform: translateY(500%);
    transform: translateY(500%);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-7%);
    -moz-transform: translateY(-7%);
    -ms-transform: translateY(-7%);
    -o-transform: translateY(-7%);
    transform: translateY(-7%);
  }

  80% {
    -webkit-transform: translateY(2%);
    -moz-transform: translateY(2%);
    -ms-transform: translateY(2%);
    -o-transform: translateY(2%);
    transform: translateY(2%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes modal-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500%);
    -moz-transform: translateY(500%);
    -ms-transform: translateY(500%);
    -o-transform: translateY(500%);
    transform: translateY(500%);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-7%);
    -moz-transform: translateY(-7%);
    -ms-transform: translateY(-7%);
    -o-transform: translateY(-7%);
    transform: translateY(-7%);
  }

  80% {
    -webkit-transform: translateY(2%);
    -moz-transform: translateY(2%);
    -ms-transform: translateY(2%);
    -o-transform: translateY(2%);
    transform: translateY(2%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes modal-loading {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes modal-loading {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes modal-loading {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes modal-loading {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes modal-loading {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

[data-atoms="app"],
html {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 100;
  font-size: 15px;
  background: #000;
}
